.hero{
  font-family: $font-IBM;
  background-color: rgba(0, 0, 0, 0.616);
  background-image: url(../img/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode:  multiply;
  height: 100vh;
  width: 100%;

  .hero__container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.301);

    .hero__content{
      display: none;
    }

    .hero__content__two{
      display: flex;
      gap: 10px;
      font-size: 1.2rem;

      .hero__select{
        border-right: 1px solid rgba(255, 255, 255, 0.301);
        padding-right: 10px;
        height: 20px;
        display: flex;
        align-items: center;

        .select{
          background: none;
          border: none;
          color: $color-one;
          outline: none;
          font-size: 1.2rem;
          
          .select__item{
            color: $color-two;
          }

        }
        
      }


      .hero__link{
        text-decoration: none;
        color: $color-one;
      }

      .hero__link:hover{
        color: $color-tree;
        transition: .3s;
      }

      .hero__link--mod{
        border-right: 1px solid rgba(255, 255, 255, 0.301);
        padding-right: 10px;
      }
      
    }

  }

  .hero__menu{
    padding: 30px 20px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;

    .hero__hamburger{
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 20px;
      z-index: 99;

      .hero__ico{
        color: $color-tree;
        font-size: 2rem;
        cursor: pointer;
      }

    }

    .hero__figure{

      .hero__logo{
        height: 21px;
      }

    }

    .hero__nav{
      position: absolute;
      left: 0;
      width: 100%;
      margin: 40px 0;
      transform: translateY(-150%);
      transition: transform .5s;

      .hero__list{
        background: $color-one;
        padding: 8px 0;
        margin-top: 9px;

        .hero__item{
          list-style: none;
          position: relative;
          padding: 10px 20px;
          overflow: hidden;

          .hero__link{
            text-decoration: none;
            color: $color-four;
            font-size: 1.4rem;
            text-transform: uppercase;

            &:hover{
              color: $color-tree;
              transition: .3s;
            }
          
          }

          .hero__link--ico{
            cursor: pointer;
          }

          .hero__link--ico::after{
            content: "\f107";
            font-family: FontAwesome;
            font-size: 1.2rem;
            position: absolute;
            right: 0;
            padding-right: 20px;
          }

          .hero__sub__list{
            margin: 10px 0 0 10px;
            height: 0;
            transition: height .5s ease;

            .hero__sub__item{
              list-style: none;
              margin: 10px 0;

              .hero__sub__link{
                text-decoration: none;
                color: $color-four;
                font-size: 1.4rem;
                text-transform: uppercase;

                &:hover{
                  color: $color-tree;
                  transition: .3s;
                }

              }

              .hero__sub__link::before{
                content: "\f138";
                font-family: FontAwesome;
                margin-right: 10px;
              }

            }

          }

        }

        .hero__item:nth-child(1){
          border-bottom: 1px solid $color-tree;

          .hero__link{
            color: $color-tree;
          }

        }

        .hero__item:nth-child(3){
          padding-bottom: 0;
        }

        .hero__item:nth-child(4){
          padding-bottom: 0;
        }

      }

    }

    .hero__links{
      
      .hero__register{
        display: none;
      }
      
      .hero__search{
        position: absolute;
        right: 0;
        padding: 0 20px;
        color: $color-one;

        &:hover{
          color: $color-tree;
          transition: .3s;
        }

      }

    }

  }

  .hero__container__two{
    display: grid;
    gap: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 75%;
    color: $color-one;

    .hero__title{
      font-family: $font-Rubik;
      font-weight: 400;
      font-size: 4.2rem;
    }

    .hero__links{
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      gap: 20px;

      .hero__link{
        background: $color-tree;
        color: $color-one;
        padding: 8px 10px;
        border-radius: 5px;
        text-decoration: none;
        border: 1px solid $color-tree;
        font-family: 1.5rem;

        &:hover{
          background: #CC8600;
          transition: .5s;
          border: 1px solid #CC8600;
        }

      }

      .hero__link:first-child{
        background: none;

        &:hover{
          background: #CC8600;
          transition: .5s;
          border: 1px solid #CC8600;
        }

      }

    }

  }

}

// style add javascript
.sub_menu{
  color: $color-tree !important;
}

.hamburger__active{
  transform: translateY(0) !important;
  transition: transform .5s ease;
}

.menu__scroll{
  background: $color-one !important;
  padding: 20px !important;

  .hero__hamburger{
    padding: 20px !important;
  }

  .hero__links{
      
    .hero__search{
      color: $color-four !important;
    }

  }

  .hero__nav{
    border-top: 1px solid rgba(23, 43, 76, 0.411);

    .hero__list{
      margin-top: 0 !important;
    }

  }

}