// font
$font-Rubik:'Rubik', sans-serif;
$font-IBM:'IBM Plex Sans', sans-serif;

// Color
$color-one: rgb(255, 255, 255);
$color-two: rgb(0, 0, 0);
$color-tree: rgb(255, 168, 0);
$color-four:rgb(23, 43, 76);